<div> Coupons </div> 
<%= form_tag coupons_create_path do %>
    <label>Coupon Form</label><br>
    Coupon code:<%= text_field_tag :'coupon[coupon_code]' %><br>
   Store: <%= text_field_tag :'coupon[store]' %><br>

   
   <%= submit_tag "Submit Coupon" %>
  <% end %>